<!doctype html>
<html lang="ro">
  <head>
    <meta charset="utf-8" />
    <title>{{.Title}}</title>
    <script defer src="/static/auth.js"></script>
  </head>
  <body>
    <h1>Reset password</h1>

    <form id="resetForm">
      <label>
        Token:
        <input name="token" value="{{.Token}}" required />
      </label>
      <br />

      <label>
        New password:
        <input type="password" name="password" required />
      </label>
      <br />

      <button type="submit">Reset password</button>
    </form>

    <pre id="msg"></pre>

    <p><a href="/login">Back to login</a></p>
  </body>
</html>